*.blend filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text

# GitHub LFS quota workaround for this sub-100MB asset
blender/assets/GN/geometry_nodes_category_layout.blend -filter -diff -merge -text
